@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;
    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw,
            -3.5px);
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: #800080;
}

body {
    font-family: "Poppins", serif;
    overflow-y: scroll;
    background-color: var(--light-pink);
}

a {text-decoration: none;
}

button {
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/* Navigation section */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.2px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    margin-left: 48px;
}

.navbar .logo i {
    color: #0aa5ff;
    font-size: 22px;
}

.navbar .logo a {   
    font-size: 24px;  
    font-weight: 700;  
    color: white;   
    position: relative; left: -20px; top: 5px;
}   

.menu {    
    display: flex;   
    align-items: center;  
    gap: 32px;
}
    
.menu-links {   
    display: flex;   
    gap: 14px;  
    border-right: 1px solid #999999; 
}

.menu-links a {  
    font-weight: 500;    
    color: #999999;   
    padding: 8px 16px;
}
    
.menu-links a:hover {
    color: white;
}

.log-in {   
    font-weight: 500;   
    padding: 12px 22px;   
    background-color: transparent;    
    color: #ffffff;   
    border-radius: 10px;   
    border: 2px solid var(--dark-purple);   
    transition: 0.2s;
}
    
.log-in:hover {   
    background-color: var(--dark-purple); 
    color: white
}

.menu-btn {   
    font-size: 32px;
    color: white;  
    display: none;   
    cursor: pointer;
}

@media (max-width: 53rem) {
    .menu {  
    display: none;
    }
    
    .menu-btn {   
    display: block;
    }
}

/*Home section */

.item {
    width: 180px;
    height: 250px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    display: inline-block;
    transition: 0.8s;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 200px);
}

.item:nth-child(5) {
    left: calc(50% + 400px);
}

.item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 5%;
    max-width: 500px;
    text-align: left;
    color: #fff;
    transform: translate(0, -50%);
    display: none;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 99999;
}

.item .name {
    font-size: 5.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.44);
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.item .des {
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: -5px 2px 10px rgba(0, 0, 0, 0.44);
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.item .button {
    padding: 15px 30px;
    font-size: 20px;
    outline: none;
    border-radius: 30px;
    border: 2px solid var(--dark-purple);
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
    background-color: var(--dark-purple);
    color: white;
}

.item .button:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}


@keyframes showcontent {
    from {
        opacity: 0;
        transform: translateY(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0px);
    }
}

.btn-group {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.btn-group button {
    background-color: transparent;
    font-size: 1.3em;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.5s;
}

.content button {
    transition: 1s;
}

.btn-group button:hover {
    background-color: var(--dark-purple);
    color: #ffffff;
    border: var(--dark-purple);
}

#prev, #next {
    padding-top: 5px;
}

/* Destination section */

.destinations {
    margin-top: 630px;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #1e1e1e;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 30px 50px #505050;
    padding: 30px 0 0 0;
    margin-left: 63px;
    margin-right: 63.5px;
    border: 2.5px solid var(--dark-purple);
    background-attachment: fixed;
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  background-color: transparent;
  border-radius: 0 0 15px 15px;
}

.swiper {
  width: 100%;
  padding: 1.875rem 0;
  height: 450px;
}

.swiper-slide {
  width: 18.75rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  box-shadow: 0.063rem 0.5rem 1.25rem rgba(0, 0, 0, 0.1216);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.swiper-slide-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(180deg);
  line-height: 0;
  bottom: -0.063rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.swiper-slide-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -1;
  transition: 0.3s ease-in-out;
  transform: rotate(-180deg);
}
.swiper-slide-img svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 5rem;
  transform: rotateY(180deg);
}
.swiper-slide-img .shape-fill {
  fill: #ffffff;
}
.swiper-slide-content {
  background: #fff;
  padding: 0 1.65rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
}
.swiper-slide-content > div {
  transform: translateY(-1.25rem);
}
.swiper-slide-content h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.425rem;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
}
.swiper-slide-content p {
    color: #000;
    line-height: 1.6;
    font-size: 0.9rem;
    max-height: 3rem; /* Approx height for 2 lines */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Smooth expansion */
  }
  
  .swiper-slide-active:hover p {
    max-height: 10rem; /* Expand height to fit full text */
    overflow: visible;
  }
  
.swiper-slide-content .show-more {
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24aad9;
  border-radius: 50%;
  box-shadow: 0px 0.125rem 0.875rem #24aad96b;
  margin-top: 1em;
  margin-bottom: 0.2em;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin-left: auto;
}
.swiper-slide-content .show-more:hover {
  background: #1184ac;
}
.swiper-slide-content .show-more svg {
  width: 1.75rem;
  color: #fff;
}

.swiper-slide-active:hover img {
  transform: scale(1.2) rotate(-185deg);
}

.swiper-slide-active:hover .show-more {
  opacity: 1;
  height: 3.125rem;
}

.swiper-slide-active:hover p {
  display: block;
  overflow: visible;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}

/* Gallery section */

.gallery-font {
    text-align: center;
    padding: 32px;
}

.gallery-font h2 {
    font-size: 3.5em;
    margin-bottom: 1.5rem;
    margin-top: 1.8rem;
    font-weight: bold;
    font-family: "Poppins", serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
}

.column {
    flex: 25%;
    max-width: 25%;
}

.img-hover-zoom {
    height: auto;
    overflow: hidden;
    border: 5px solid white;
}

.img-hover-zoom img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Testinomials sections */

.Testinomials {
    font-weight: bold;
    font-family: "Poppins", serif;
    text-align: center;
    color: #ffffff;
    min-height: 100vh;
    background-color: #1e1e1e;
}

.Testinomials h2 {
    padding: 40px 0px 0px 0px;
    font-size: 2.9em;
}

.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
}


.container .card-1 {
  position: relative;
  width: 260px;
  height: 430px;
  background-color: #fff;
  margin: 20px 5px 20px 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
  transition: .5s ease-in-out;

}

.container:hover .card-1 {
  filter: blur(5px);
  transform: scale(.9);
  opacity: .5;
}

.container .card-1:hover {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

.content-2 p {
    font-style: italic;
}

.container .card-1:hover .circle {
  clip-path: circle(600px);
}

.container .card-1:hover .content-2 p {
  color: #fff;
}

.container .card-1:hover .content-2 a {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2),
              -1px -1px 2px rgba(255, 255, 255, .4);
}

.container .card-1 .content-2 a:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1),
              inset 5px 5px 5px rgba(0, 0, 0, .04),
              inset -5px -5px 5px rgba(255, 255, 255, .07),
              inset -1px -1px 2px rgba(255, 255, 255, .4);
}

.container .card-1 .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  transition: 1s ease-in-out;
}

.container .card-1 h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.container .card-1 .content-2 {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}

.container .card-1 .content-2 p {
  color: #666;
  transition: .5s ease-in-out;
}

.container .card-1 .content-2 a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: .8s ease-in-out;
}

.card-1 img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-top: 15px;
  transition: .5s ease-in-out;
  border: 3px solid #fff;
  box-shadow: 1px 1px 20px -1px black;
}

.container .card-1:hover .content-2 a {
  transform: translateY(-8px);
}

.container .card-1:nth-child(1) .circle,
.container .card-1:nth-child(1) .content-2 a {
  background: #ffaf00;
}

.container .card-1:nth-child(2) .circle,
.container .card-1:nth-child(2) .content-2 a {
  background:  #e56c64;
}

.container .card-1:nth-child(3) .circle,
.container .card-1:nth-child(3) .content-2 a {
  background: #da2268;
}

.container .card-1:nth-child(4) .circle,
.container .card-1:nth-child(4) .content-2 a {
  background: #bb02ff;
}

@keyframes colorChange {
  0% {
    color: #fff;
  }

  50% {
    color: #b1b493;
  }

  80% {
    color: #4f8a8b;
  }

  100% {
    color: #fff;
  }
}

/* =======================Responsive Breakpoint ========================== */

@media only screen and (max-width: 992px) {
  /* Add responsive styles for max-width 992px */
}

@media only screen and (max-width: 768px) {
  /* Add responsive styles for max-width 768px */
}

/* Aurora styles */

.body-aurora {
    min-height: 50vh;
    display: grid;
    place-items: center;
    background-color: #1e1e1e;
    color: #fff;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    overflow: hidden;
}

.content-3 {
    text-align: center;
}

.title {
    font-size: var(--fs);
    font-weight: 800;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
 /* background: var(--bg); */
    background-color: #1e1e1e;
    margin: 0;
}

.aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
}

.aurora__item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
    top: -50%;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-1 5s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-2 5s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-3 3s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-4 13s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
    0% {
        top: 0;
        right: 0;
    }

    50% {
        top: 100%;
        right: 75%;
    }

    75% {
        top: 100%;
        right: 25%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

@keyframes aurora-2 {
    0% {
        top: -50%;
        left: 0%;
    }

    60% {
        top: 100%;
        left: 75%;
    }

    85% {
        top: 100%;
        left: 25%;
    }

    100% {
        top: -50%;
        left: 0%;
    }
}

@keyframes aurora-3 {
    0% {
        bottom: 0;
        left: 0;
    }

    40% {
        bottom: 100%;
        left: 75%;
    }

    65% {
        bottom: 40%;
        left: 50%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@keyframes aurora-4 {
    0% {
        bottom: -50%;
        right: 0;
    }

    50% {
        bottom: 0%;
        right: 40%;
    }

    90% {
        bottom: 50%;
        right: 25%;
    }

    100% {
        bottom: -50%;
        right: 0;
    }
}

@keyframes aurora-border {
    0% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
        border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
        border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
}

/* Packages & Offer Section */

#Packages {
    height: 100%;
    min-height: 100vh;
    background-color: #1e1e1e;
    margin-top: -40px;
}

ul {
  list-style: none;
}

.main-flow {
  max-width: 75rem;
  padding: 3em 1.5em;
  display: grid;
  place-items: center;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  color: #ddd;
  margin-left: 30px;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}

/* Contact us section */

input, textarea {
    font-family: "Poppins", serif;
}
.container-1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 930px;
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 1px solid #f1eeee;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  position: relative;
}

.circle-one {
  border-radius: 50%;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  position: absolute;
}

.circle-two {
  border-radius: 50%;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  position: absolute;
}

.circle-one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle-two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title-4 {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1e1e1e;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 20px;
  background: #1e1e1e;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ffffff;
}

.text {
  color: #eceff1;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #eceff1;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #fafafa;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ed7c30;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container-1 {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title-4 {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

/* FAQs section */

#FAQ {
    background-color: var(--light-pink);
    font-family: "Poppins", serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.btn-icon {
    max-width: 100%;
    display: block;
}

.accordion-btn {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 0;
}

.accordion-btn:hover{
    color: var(--dark-purple);
}

.container-8 {
    background-color: var(--white);
    max-width: 800px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

.faq-headline {
    display: flex;
    gap: 2rem;
}

.faq-headline h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
}

.accordion-container .accordion-item:not(:last-child) {
    border-bottom: 2px solid var(--light-pink);
}

.accordion-item .icon-tourist .btn-icon {
    min-width: 30px;
}

.accordion-item .icon-tourist .minus-icon {
    display: none;
}

.accordion-description {
    background-color: var(--white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;
}

.accordion-description p {
    color: var(--grayish-purple);
    padding: 1.5rem 0;
}

/* Footer section */

footer ul {
    display: flex;
    margin-top: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 60px;
  padding-left: 60px;
  width: 100%;
}

/* Make the footer appear at the bottom of the content */
footer {
  position: relative; /* Change from fixed to relative */
  width: 100%;
  height: 390px; /* Maintain footer height */
  margin-top: -60px; /* Push footer to the bottom if content is short */
}

/* Fix background wave animation */
.background {
  position: absolute; /* Positioned within footer */
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Prevent it from spilling outside */
}

/* Ensure animations scale properly */
.footer-animations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

/* Social icons and links alignment */
.socials-5 {
  gap: 20px;
  margin-top: 200px;
  margin-bottom: -80px;
}

.socials-5 a {
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.links-2 {
  gap: 10px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: rgba(255, 255, 255, 0.838);
}

.legal {
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.714);
}

/* Responsive Design for Screens */
@media (width > 420px) {
  .footer {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .links-2 {
    gap: 20px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--light-pink);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-purple);
  border-radius: 5px;
  border: 2px solid #eff1f5;
}
